body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: calc(var(--vh, 1vh) * 100);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Avoid Chrome to see Safari hack */
/*
@supports (-webkit-touch-callout: none) {
    body {
        !* The hack for Safari *!
        height: -webkit-fill-available;
        overflow: hidden;
    }
}*/
